@{
    ViewBag.Title = "Home Page";
}

@*<div id="adbox">
    <div class="clearfix">
        <img src="/images/box.png" alt="Img" height="342" width="368">
        <div>
            <h1>Ideas?</h1>
            <h2>That's what we live for.</h2>
            <p>
                Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web. <span><a href="index.html" class="btn">Try It Now!</a><b>Don’t worry it’s for free</b></span>
            </p>
        </div>
    </div>
</div>*@

<div id="contents">
    <div id="tagline" class="clearfix">
        <h1>Design With Simplicity.</h1>
        <div>
            <p>
                You can replace all this text with your own text. Want an easier solution for a Free Website?
            </p>
            <p>
                Head straight to Wix and immediately start customizing your website!
            </p>
            <p>
                Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web.
            </p>
        </div>
        <div>
            <p>
                You can replace all this text with your own text. Want an easier solution for a Free Website?
            </p>
            <p>
                Head straight to Wix and immediately start customizing your website!
            </p>
            <p>
                Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web.
            </p>
        </div>
    </div>
</div>
<!-- #region name -->


@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

        <p><a href="index.html">Zero Type</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
*@


<!-- #endregion -->